doctype html
head
  meta(name="viewport" content="width=device-width")

  link(rel="stylesheet" href="stylesheets/app.css")
  link(href='http://fonts.googleapis.com/css?family=Roboto:300&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css')
  link(rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');

body
  .container
    .logo
      .box
    .content
      h1 Веб-сервис Фикус прокачает вашу презентацию.
      h3
        | Слушатели проводят ее вместе с вами, задают вопросы и дают вам знать, когда что-то идет не так.<br>
        | Похоже, это отличный способ вернуть аудиторию из твиттера обратно в зал.<br><br>
        | Введите адрес электронной почты ниже, чтобы быть в курсе релиза.

      .formgroup
        input.email(type='email' placeholder="Введите свой email")
        button.submit

  a.contact(href='#')
